<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body update="<%= update %>">
<div class="main-container">
    <div class="left-sectin">
        <div class="title h3">在此填写基本信息</div>
        <form action="/post" method="post" id="postForm"></form>
        <div class="form-group">
            <label for="title">文章标题：</label>
            <input type="text" name="post_title" form="postForm" placeholder="title" class="form-control" value="<%= post.post_title %>">
        </div>
        <div class="form-group">
            <label for="title">文章地址：</label>
            <input type="text" name="post_url" form="postForm" placeholder="url" class="form-control" value="<%= post.post_url %>">
        </div>
        <div class="form-group">
            <label for="title">文章标签：</label>
            <input type="text" name="tags" form="postForm" placeholder="tag" class="form-control" value="<%= post.tags %>">
        </div>
        <div class="form-group">
            <label for="title">文章摘要：</label>
            <textarea rows="5" type="text" name="post_abstract" form="postForm" placeholder="abstract" class="form-control"><%= post.post_abstract %></textarea>
        </div>

        <button class="btn btn-success" type="button" id="submitBtn">提交</button>
        <code class="img-url" id="imgUrl"></code>
    </div>
    <div class="right-wrapper">
        <div class="middle-section">
            <textarea name="post_markdown" id="postMarkdown" form="postForm"><%= post.post_markdown %></textarea>
        </div>
        <div class="right-section" id="showBar"></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<script type="text/javascript" src="/js/lib/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/lib/url.min.js"></script>
<script type="text/javascript" src="/js/lib/marked.js"></script>
<script type="text/javascript" src="/js/edit.js"></script>
</body>
</html>